:root {
  --White: hsl(0, 0%, 100%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Verydarkblue: hsl(234, 17%, 12%);
  --grayishblue: hsl(237, 18%, 59%);
  --Sofered: hsl(345, 95%, 68%);
}
body {
  font-size: 14px;
  margin: 0;
  font-family: Helvetica;
}
.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url(./image/pattern-hills.svg), url(./image/bg-stars.svg), #1f1d2a;
  background-position: right bottom, center;
  background-repeat: no-repeat;
  background-size: 1600px, contain;
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #ffffff;
}

.getTime_container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: #c96684;
}

.getTime_container div {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #353550;
  display: flex;
  border-radius: 7px;
  box-shadow: 0 6px 4px -3px #09090a;
}
p {
  display: block;
  margin: auto;
  font-weight: 800;
  font-size: 25px;
}

.Links_social {
  margin-top: 300px;
}
.Links_social a {
  margin: 0 14px;
}

.getTime_container div::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #58585f;
}
.getTime_container div:nth-child(1)::after {
  content: "Days";
}
.getTime_container div:nth-child(2)::after {
  content: "Hours";
}
.getTime_container div:nth-child(3)::after {
  content: "Minutes";
}
.getTime_container div:nth-child(4)::after {
  content: "Seconds";
}
.dialog {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1364a5;
  border-radius: 18px;
  box-shadow: 0 0 6px #09090a;
  font-family: Helvetica;
  font-weight: 700;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.dialog img {
  width: 200px;
  object-fit: cover;
}
.dialog-visible {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 900px) {
  .getTime_container {
    width: 600px;
    margin: 100px auto;
  }
  .getTime_container div {
    transform: scale(1.5);
  }
}
